/*Global*/
div.table{
    display: table;
}
div.tr, form.tr{
    display: table-row-group;
}
div.td, div.th{
    display: table-cell;
}
div.th{
    font-weight: bold;
}
.notfound{
    display: none;
}

/*---- Start Update bootstrap ----*/
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.table .th,
.table .td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}
.table .thead .th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
}
.table .tbody + .tbody {
    border-top: 2px solid #e9ecef;
}
.table .table {
    background-color: #fff;
}


/*---- End Update bootstrap ----*/
